* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
main {
   margin: 1rem 0;
}
nav h1 {
   text-align: center;
   font-size: 2rem;
}
span {
   font-size: 2.4rem;
}
nav p {
   font-size: 1rem;
   margin: 0;
}
p {
   margin: 1.5rem 0;
   line-height: 130%;
}
section {
   margin: 0 auto;
   max-width: 80%;
}
ul {
   padding: 0.8rem 0;
   margin-bottom: 2rem;
   border-top: 2px solid #aaa;
   border-bottom: 2px solid #aaa;
   list-style-type: none;
   display: flex;
   justify-content: space-evenly;
}
ul li a {
   font-size: 1.3rem;
   text-decoration: none;
   color: #000;
   padding: 0.6rem 1rem;
}
section:last-child {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
img {
   /* to avoid image from going more width than its parent */
   max-width: 100%;
}
section h3:last-of-type {
   margin-bottom: 1rem;
   font-size: 1.5rem;
}
section .box {
   margin: 0 1rem;
}
section .box:nth-child(1),
.box:nth-child(2) {
   padding-right: 2rem;
   border-right: 2px solid #aaa;
}
@media screen and (max-width: 768px) {
   p {
      line-height: 150%;
   }
   section .box {
      margin: 0 0.5rem;
   }
   section:last-child {
      grid-template-columns: repeat(1, 1fr);
   }
   section .box:nth-child(1),
   .box:nth-child(2) {
      border-right: none;
      margin-bottom: 2.5rem;
   }
   section {
      max-width: 90%;
   }
}

@media screen and (max-width: 600px) {
   ul li a {
      font-size: 1rem;
      padding: 0.6rem;
   }
}
