* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background: url("./images/bg.png") no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 100vh;
}
section {
   padding: 1rem 2rem 0 0;
   display: flex;
   justify-content: space-between;
}

section:first-of-type p {
   padding: 3rem;
   max-width: 50%;
   font-size: 1.6rem;
}
section:first-of-type a {
   font-weight: 500;
   font-size: 2.3rem;
   text-decoration: none;
   color: #000;
}
section:first-of-type h3 {
   text-align: right;
   font-size: 3rem;
   font-weight: 500;
}
section:nth-of-type(2) {
   padding: 0 10rem 0 0;
}
section:nth-of-type(2) div:nth-of-type(2) h2 {
   font-size: 3rem;
}
section:nth-of-type(2) div:nth-of-type(2) ul li {
   font-size: 1.5rem;
}
section:nth-of-type(2) h1 {
   color: #000;
   background: #fff;
   font-size: 3.5em;
   padding: 1rem 2rem;
}
.bg-red {
   background: red;
}
ul li {
   list-style-position: inside;
}
.span-container span {
   position: absolute;
   padding: 0.5rem 1rem;
   background: #656c79;
   color: #fff;
}
.span-container {
   margin-top: 1rem;
   position: relative;
   font-size: 1.8rem;
}
.span-container span:first-of-type {
   left: 17rem;
}
.span-container span:nth-of-type(2) {
   left: 10rem;
   top: 3rem;
}
@media screen and (max-width: 768px) {
   section {
      flex-direction: column;
   }
   section:first-of-type div {
      text-align: center;
   }
   section:first-of-type p {
      padding: 0 2rem 2rem;
      max-width: 80%;
   }
   section:nth-of-type(2) div:nth-of-type(2) {
      margin: 8rem 0 0 2rem;
   }
   section h1 {
      margin: 2rem 0 0;
   }
}
